@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Fascinate&family=Open+Sans:ital@1&family=Poppins:ital,wght@1,300&family=Raleway&family=Work+Sans:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    background: #191919;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
}

h2{
    margin-top: 10px;
    font-size: 50px;
    font-weight:800;
}

h3{
    color:black;
    font-size: 24px;
    font-weight: 500;
}

.block{
    background-image: url("https://kq-storage.s3.ap-south-1.amazonaws.com/Github/canvas_clock/footer.png");
    position: relative;
    width: 1440px;
    height: 255px;
    background-repeat: no-repeat;
}

#text{
    position: absolute;
    left: 500px;
    top: 250px;
}